
.hidden {
    display: none;
}

html {
    box-sizing: border-box;
}

body {
    text-align: center;
}

.answer-img {
    width: 300px;
}

ul {
    list-style: none;
    padding: 0;
}

footer {
    text-align: center;
}

.answer-button {
    font-family: sans-serif;
    font-size: 24px;
    color: white;
    height: 300px;
    width: 300px; 
    /* background: url("https://picsum.photos/300/?random"); */
}

.answer-img {
    display: none;
}

.player-stats {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.div-ul-container {
    display: flex;
    justify-content: center;
}

.answer-ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    width: 750px;
    /* border: 1px solid black; */
}

/* for larger screens */
@media screen and (min-width: 640px){
    .answer-ul {
        flex-direction: row;
        justify-content: center;
        /* align-items: center; */
    }
} 


